<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minha Jornada</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
</head>
<body>
<nav aria-label="main navigation" class="navbar is-primary is-spaced" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-primary is-spaced is-dark" href="/">
            Minha Jornada
        </a>
        <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample"
           role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box" method="post" name="f" th:action="@{/login}">
                        <div class="alert alert-error" th:if="${param.error}">
                            <div class="notification is-danger is-light">
                                <button class="delete"></button>
                                Usuario ou senha invalidos
                            </div>
                        </div>
                        <div class="alert alert-success" th:if="${param.logout}">
                            <div class="notification is-warning is-light">
                                <button class="delete"></button>
                                Voce foi deslogado por inatividade
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Usuario</label>
                            <div class="control has-icons-left">
                                <input class="input" id="username" name="username" placeholder="nome do usuario"
                                       required type="text">
                                <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                              </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Senha</label>
                            <div class="control has-icons-left">
                                <input class="input" id="password" name="password" placeholder="*******" required
                                       type="password">
                                <span class="icon is-small is-left">
                              <i class="fa fa-lock"></i>
                              </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</body>
</html>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            var $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
