<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Listagem de usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<button class="button" href="/driver/login">Motorista</button>
<button class="button" href="/user/login">Funcionario</button>
</body>